In [56]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
df = pd.read_csv('array.txt', sep=' ', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,30.0,67.0,39.0,29.0,94.0,95.0,80.0,95.0,45.0,93.0,...,7.0,46.0,1.0,82.0,66.0,15.0,57.0,55.0,23.0,96.0
1,94.0,34.0,80.0,79.0,50.0,84.0,91.0,20.0,86.0,72.0,...,59.0,69.0,26.0,99.0,81.0,19.0,57.0,22.0,23.0,0.0
2,40.0,69.0,50.0,25.0,85.0,82.0,25.0,29.0,25.0,1.0,...,14.0,51.0,66.0,14.0,72.0,75.0,58.0,9.0,70.0,24.0
3,29.0,7.0,54.0,7.0,60.0,31.0,97.0,9.0,29.0,98.0,...,28.0,16.0,49.0,39.0,69.0,82.0,70.0,42.0,17.0,93.0
4,88.0,10.0,11.0,33.0,89.0,23.0,99.0,99.0,25.0,21.0,...,47.0,28.0,4.0,94.0,72.0,30.0,8.0,26.0,10.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,54.0,57.0,3.0,19.0,0.0,96.0,45.0,98.0,48.0,25.0,...,10.0,60.0,12.0,48.0,74.0,79.0,94.0,83.0,42.0,27.0
996,3.0,72.0,61.0,10.0,54.0,28.0,11.0,27.0,52.0,56.0,...,96.0,14.0,34.0,65.0,25.0,52.0,57.0,8.0,78.0,66.0
997,68.0,7.0,54.0,46.0,13.0,54.0,0.0,33.0,10.0,76.0,...,59.0,46.0,93.0,91.0,70.0,41.0,87.0,31.0,64.0,86.0
998,18.0,85.0,2.0,16.0,82.0,7.0,35.0,51.0,54.0,27.0,...,86.0,61.0,71.0,51.0,67.0,8.0,3.0,45.0,60.0,90.0
999,70.0,41.0,59.0,91.0,19.0,52.0,13.0,46.0,14.0,97.0,...,86.0,59.0,13.0,53.0,27.0,4.0,5.0,6.0,87.0,11.0

In [18]:
df[0].mean()

49.312

In [14]:
df[19].mean()

49.09

In [16]:
df[999].mean()

50.402

In [20]:
arr = np.load('array2.npy')
arr

array([[42, 56, 23, ..., 66, 67, 60],
       [26, 49,  3, ...,  0, 84, 72],
       [41, 42, 57, ..., 16, 69, 85],
       ...,
       [ 4, 15, 88, ..., 69,  0,  2],
       [13, 24, 75, ..., 99, 31, 42],
       [99, 27, 29, ..., 78, 99, 48]], dtype=int64)

In [21]:
arr[0].mean()

50.227

In [22]:
arr[29].mean()

49.26

In [23]:
arr[-1].mean()

49.437

In [33]:
arr = np.load('data.npz')
np.unique(arr['names']).size

9

In [42]:
arr['ages'][(arr['ages'] < 40)&(arr['surnames'] == 'Smith')&(arr['names'] == 'John')].size

3

In [44]:
s = pd.Series([1, 2, 3, 4])

In [51]:
command = 'mean'

In [52]:
pd.eval(f's.{command}()')

2.5

In [55]:
print(*s[(s > 1) & (s < 4)].index)

1 2

In [57]:
df = pd.read_csv('titanic_train.txt', sep=',')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [58]:
df.Survived.sum()

342

In [60]:
df = pd.read_csv('wines.csv', sep=',')
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin Oâ€™Keefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [62]:
df.winery[df.price == df.price.max()]

80290    ChÃ¢teau les Ormes Sorbet
Name: winery, dtype: object

In [65]:
df.description[df.country == 'Israel'].count()

505

In [66]:
df.points[df.country == 'Italy'].mean()

88.56223132036847

In [82]:
df.groupby('country').country.count().idxmax()

'US'

In [95]:
df.groupby('country').count()[df.groupby('country').country.count() == 109]

,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
country,,,,,,,,,,,,
Uruguay,109,95,109,109,109,0,0,109,109,109,109,109

In [105]:
df[df.country == 'France'].groupby(['country', 'province']).province.count().idxmin()[1]

'Languedoc-Roussillon'

In [116]:
df.groupby(['country', 'province']).points.mean().idxmax()

('Austria', 'SÃ¼dburgenland')

In [123]:
(df.groupby('country').points.max() < 95).sum()

29